{% extends "base.html" %}
{% block content %}
    <br>
    <div class="container">
        <a href="{% url 'add-tcp-traffic' %}" class="btn btn-secondary btn-lg" role="button">Create TCP Traffic</a>
        <a href="#" class="btn btn-secondary btn-lg" role="button">Create UDP Traffic</a>
    </div>
    <hr>
    {% for tcp in tcps %}
        <div class="container">
            <h4><span class="badge badge-info">
                TCP DST:{{ tcp.dst_ip }}:{{ tcp.dst_port }} Count: {{ tcp.count }} Data: {{ tcp.data }}
            </span></h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th></th>
                      <th>Send</th>
                      <th>Receive</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row">Bits/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Packets/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Active Conn/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Total Conn/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="#" class="btn btn-success" role="button" aria-disabled="true">Start Traffic</a>
                <a href="#" class="btn btn-warning" role="button" aria-disabled="true">Stop Traffic</a>
                <a href="#" class="btn btn-danger" role="button" aria-disabled="true">Delete Traffic</a>
            </div>
        </div>
    {% endfor %}
    {% for udp in udps %}
        <div class="container">
            <h4><span class="badge badge-info">
                UDP DST:{{ udp.dst_ip }}:{{ udp.dst_port }} Server: {{ udp.srv_ip }}:{{ udp.srv_port }}
                Pkt pause: {{ udp.packet_pause }}  Count: {{ udp.count }}
            </span></h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th></th>
                      <th>Send</th>
                      <th>Receive</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row">Bits/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Packets/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Active Conn/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Total Conn/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="#" class="btn btn-success" role="button" aria-disabled="true">Start Traffic</a>
                <a href="#" class="btn btn-warning" role="button" aria-disabled="true">Stop Traffic</a>
                <a href="#" class="btn btn-danger" role="button" aria-disabled="true">Delete Traffic</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
