{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>DSCHA Client Agent</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700|Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
{#    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>#}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">DSCHA Client Agent</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client' %}">Client</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'server' %}">Server</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="footer">
        &copy; F5 Networks Inc {% now 'Y' %}
    </footer>

</body>

</html>