{% extends "base.html" %}
{% block content %}
    <script src='/static/js/client.js'></script>
    <br>
    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createUDPTrafficModal">
            Create UDP Traffic
        </button>

        <!-- Modal -->
        <div class="modal fade" id="createUDPTrafficModal" tabindex="-1" role="dialog" aria-labelledby="createUDPTrafficModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createUDPTrafficModalLabel">Create UDP Traffic</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form data-toggle="validator" role="form">{% csrf_token %}
                            <div class="form-group">
                                <label for="dstIP" class="control-label">Destination IP</label>
                                <input type="text" class="form-control" id="dstIP" required>
                            </div>

                            <div class="form-group">
                                <label for="dstPort" class="control-label">Destination Port</label>
                                <input class="form-control" id="dstPort" required>
                            </div>


                            <div class="form-group">
                                <label for="packetPause" class="control-label">Packet Per Second</label>
                                <input class="form-control" id="packetPerSecond">
                            </div>

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="createUDPTrafficSubmit">Create</button>
                        </form>

                    </div>
                    <div class="modal-footer">


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

    </div>
    <hr>
    {% for tcp in tcps %}
        <div class="container">
            <h4><span class="badge badge-info">
                TCP DST:{{ tcp.dst_ip }}:{{ tcp.dst_port }} Count: {{ tcp.count }} Data: {{ tcp.data }}
            </span></h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th></th>
                      <th>Send</th>
                      <th>Receive</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row">Bits/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Packets/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Active Conn/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Total Conn/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="#" class="btn btn-success" role="button" aria-disabled="true">Start Traffic</a>
                <a href="#" class="btn btn-warning" role="button" aria-disabled="true">Stop Traffic</a>
                <a href="#" class="btn btn-danger" role="button" aria-disabled="true">Delete Traffic</a>
            </div>
        </div>
    {% endfor %}
    {% for udp in udps %}
        <div class="container">
            <h4><span class="badge badge-info">
                UDP DST:{{ udp.dst_ip }}:{{ udp.dst_port }}
                Pkt per second: {{ udp.packet_per_second }}
                </span>
            </h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th></th>
                      <th>Send</th>
                      <th>Receive</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row">Bits/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Packets/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Active Conn/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Total Conn/sec</th>
                      <td></td>
                      <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="#" class="btn btn-success" role="button" aria-disabled="true">Start Traffic</a>
                <a href="#" class="btn btn-warning" role="button" aria-disabled="true">Stop Traffic</a>
                <a href="#" class="btn btn-danger" role="button" aria-disabled="true">Delete Traffic</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
